<div [hidden]="chatHidden" class="chat-container">
  <app-chat-messages-view [currentChat]="chat"></app-chat-messages-view>
</div>
<form [formGroup]="formControl" class="container overflow-auto mt-2">
  <div class="row">
    <div class="col-9">
      <input type="text" class="form-control" formControlName="message">
    </div>
    <div class="col-sm">
      <button class="btn btn-primary" (click)="sendMessage()">Send</button>
    </div>
    <div class="col-sm">
      <button class="btn btn-primary" (click)="triggerInput()">Add</button>
    </div>
  </div>
</form>
<input type="file" id="image-file-content-{{chat.id}}" (change)="uploadFile($any($event.target).files[0])"
       hidden>
