<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="!userHaveProfile">Create profile</h5>
        <h5 class="modal-title" id="exampleModalLabel" *ngIf="userHaveProfile">Your profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container" *ngIf="!userHaveProfile">
          <app-participant-creation (createSessionProfile)="emitProfileCreation($event)" [chat]="chat"></app-participant-creation>
        </div>
      </div>
      <div class="modal-footer">
        <span></span>
      </div>
    </div>
  </div>
</div>
<p>{{chat.id}}</p>
